body {
  font-family: "Avenir-Heavy", sans-serif;
  margin: 20px;
}

.channel {
  align-items: center;
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
}

.channel img {
  margin: 10px;
  max-width: 150px;
  max-height: 150px;
  grid-column: 1; /* Updated grid-column property */
  grid-row: 1 / span 2; /* Updated grid-row property */
}

audio {
  grid-column: 2;
  grid-row: 2;
}

h1 {
  grid-column: 2;
  grid-row: 1;
}
